<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gj.administrator.gjerp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="AA_DB_NAME" android:value="moonhm.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/company_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/company_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AnalyzeChartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ManageActivity"
            android:label="Manage"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".activity.ManageItemActivity"
            android:label="Item"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

</manifest>
